<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <!-- Targets: Nereye log yazılacak -->
    <targets>
        <!-- Dosyaya loglama -->
        <target name="logfile" xsi:type="File"
                fileName="Logs/log-${shortdate}.txt"
                layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=toString}"
                archiveFileName="Logs/log-${shortdate}.{#}.txt"
                archiveAboveSize="5242880"
                keepFileOpen="false" />
    </targets>

    <!-- Kurallar: Hangi log seviyesi nereye gidecek -->
    <rules>
        <!-- Tüm logları logfile'a yaz, minimum seviye Info -->
        <logger name="*" minlevel="Info" writeTo="logfile" />
    </rules>
</nlog>