<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" throwConfigExceptions="true">

  <!-- Klasör ve layout -->
  <variable name="logDir" value="${basedir}/Logs" />
  <!-- NLog 5: scopeproperty kullanıyoruz -->
  <variable name="layoutLine"
            value="${longdate}|${level:uppercase=true}|${logger}|cid=${scopeproperty:CorrelationId}|uid=${scopeproperty:UserId}|path=${aspnet-request-url}|msg=${message} ${exception:format=toString}" />

  <targets>
    <!-- WARN dosyası: günlük isim, 5MB üstü arşive taşı -->
    <target xsi:type="File" name="warnFile"
            fileName="${logDir}/warn/warn-${shortdate}.log"
            layout="${layoutLine}"
            archiveAboveSize="5242880"
            archiveFileName="${logDir}/warn/archive/warn-${shortdate}.{#}.log"
            keepFileOpen="false" />

    <!-- ERROR/FATAL dosyası: günlük isim, 5MB üstü arşive taşı -->
    <target xsi:type="File" name="errorFile"
            fileName="${logDir}/error/error-${shortdate}.log"
            layout="${layoutLine}"
            archiveAboveSize="5242880"
            archiveFileName="${logDir}/error/archive/error-${shortdate}.{#}.log"
            keepFileOpen="false" />
  </targets>

  <rules>
    <!-- Framework : sadece Error ve üstü, error dosyasına -->
    <logger name="Microsoft.*" minlevel="Error" writeTo="errorFile" final="true" />
    <logger name="System.*"     minlevel="Error" writeTo="errorFile" final="true" />

    <!-- Uygulama Warning: sadece warn dosyasına -->
    <logger name="*" minlevel="Warn" maxlevel="Warn" writeTo="warnFile,console" />

    <!-- Uygulama Error/Fatal: error dosyasına -->
    <logger name="*" minlevel="Error" writeTo="errorFile,console" />
  </rules>
</nlog>
