<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

  <!-- Klasör ve layout -->
  <variable name="logDir" value="${basedir}/Logs" />
  <!-- Log şablonu -->
  <variable name="layoutLine"
            value="${longdate}|${level:uppercase=true}|${logger}|cid=${scopeproperty:CorrelationId}|uid=${scopeproperty:UserId}|path=${aspnet-request-url}|msg=${message} ${exception:format=toString}" />

  <targets>
    <!-- Console: rules'ta writeTo='console' için şart -->
    <target xsi:type="Console" name="console" layout="${layoutLine}" />

    <!--  5MB üstü arşiv; klasörleri otomatik oluştur -->
    <target xsi:type="File" name="warnFile"
            fileName="${logDir}/warn/warn-${shortdate}.log"
            layout="${layoutLine}"
            encoding="utf-8"
            createDirs="true"
            archiveAboveSize="5242880"
            maxArchiveFiles="0"
            archiveFileName="${logDir}/warn/archive/warn-${shortdate}.{#}.log"
            keepFileOpen="false" />

    <!-- ERROR/FATAL dosyası -->
    <target xsi:type="File" name="errorFile"
            fileName="${logDir}/error/error-${shortdate}.log"
            layout="${layoutLine}"
            encoding="utf-8"
            createDirs="true"
            archiveAboveSize="5242880"
            maxArchiveFiles="0"
            archiveFileName="${logDir}/error/archive/error-${shortdate}.{#}.log"
            keepFileOpen="false" />
  </targets>

  <rules>
    <!-- Framework logları: sadece Error+ ve error dosyasına -->
    <logger name="Microsoft.*" minlevel="Error" writeTo="errorFile" final="true" />
    <logger name="System.*"     minlevel="Error" writeTo="errorFile" final="true" />

    <!-- Uygulama Warning: warn dosyası + konsol -->
    <logger name="*" minlevel="Warn" maxlevel="Warn" writeTo="warnFile,console" />

    <!-- Uygulama Error/Fatal: error dosyası + konsol -->
    <logger name="*" minlevel="Error" writeTo="errorFile,console" />
  </rules>
</nlog>


